<div style="height: 100%;">
<div class="layout-row">
    <div class="flex-100">
         <div >
            {{#paper-toolbar class="toolbar-superior"}}
                {{#paper-toolbar-tools class="tollbar-tools-superior"}}
                    {{#paper-button onClick="abrirMenu" iconButton=true}}
                        {{paper-icon "menu"}}
                    {{/paper-button}}
                        <div class="toolbar-superior-title">
                            <h2>
                            Portal
                            </h2>
                        </div>
                    <span class="flex"></span>
                    
                        {{#paper-button}}
                            <div class="layout-row flex">
                                <div style="margin-right: 6px !important">
                                    {{paper-icon "notifications"}}
                                </div>
                                <div style="font-size: 12px !important">
                                    teste
                                </div>        
                            </div>
                        {{/paper-button}}

                        {{#paper-button iconButton=true }}
                            <div class="layout-row flex">
                                <div style="margin-right: 6px !important">
                                    {{paper-icon "account_circle"}}
                                </div>
                                <div style="font-size: 12px !important">
                                    teste
                                </div>
                            </div>
                        {{/paper-button}}

                        {{menu-config}}       
                {{/paper-toolbar-tools}}
            {{/paper-toolbar}}
        </div>
    </div>
</div>
</div>
{{yield}}