<div style="height: 100%;">
<div class="layout-row">
    <div class="flex-100">
         <div class="toolbar-superior">
            {{#paper-toolbar}}
                {{#paper-toolbar-tools class="tollbar-tools-superior"}}
                    {{#paper-button onClick="abrirMenu" iconButton=true}}
                        {{paper-icon "menu"}}
                    {{/paper-button}}
                        <h2>
                        Portal
                        </h2>
                    <span class="flex"></span>
                    {{#paper-button iconButton=true}}
                        {{paper-icon "add alerts"}}
                    {{/paper-button}}
                        Alertas
                    {{#paper-button iconButton=true}}
                        {{paper-icon "settings"}}
                    {{/paper-button}}
                        Configurações
                    {{#paper-button iconButton=true}}
                        {{paper-icon "face"}}
                    {{/paper-button}}
                    Geovane
                {{/paper-toolbar-tools}}
            {{/paper-toolbar}}
        </div>
    </div>
</div>
</div>
{{yield}}